body{
    margin: 0;
    padding: 0;
    text-align: center;
}
hr{
    width: 200px;
    margin-top: -15px;
}
.box{
    border-style: solid;
    border-width: 2px;
    width: 700px;
    height: 600px;
    margin: auto;
}