body{
    margin: 0;
    padding: 0;
    text-align: center;
}
hr{
    width: 200px;
    margin-top: -15px;
}
.box{
    border-style: solid;
    border-width: 2px;
    width: 700px;
    height: 600px;
    margin: auto;
}
.board table{
    margin: auto;
    margin-top: 40px;
    font-size: 100px;
}
td{
    padding: 30px;
    width: 100px;
    height: 100px;
}
#top-left{
    border-style: none solid solid none;
}
.top-center{
    border-style: none solid solid solid;
}
.top-right{
    border-style: none none solid solid;
}
.center-left{
    border-style: solid solid solid none;
}
.center-center{
    border-style: solid;
}
.center-right{
    border-style: solid none solid solid;
}
.bottom-left{
    border-style: solid solid none none;
}
.bottom-center{
    border-style: solid solid none solid;
}
.bottom-right{
    border-style: solid none none solid;
}